
h1{
  text-align: center;
}
	
.navbar ul{
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
	
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
	
.navbar a:hover{
  background-color: hsl(0, 0%, 10%)
}
	
.navbar li{
float: left;
}
	
.container{
  width: 100%;
  height: 100vh;
  background-image: url = ("https://imgs.search.brave.com/Y9nFrO8Na7cLfLrhAOBqLQQYFK8Bt6Yh5tgx6JfNmpg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTQ1/Nzg3MzQ0L3Bob3Rv/L2NoaWNhZ28uanBn/P3M9NjEyeDYxMiZ3/PTAmaz0yMCZjPWNn/Q2pQUE5aLXpodDBh/VHpyeTBaend3Qjdv/OVJ6WTF0Ui1fLWJX/WVZXOUU9");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}